

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
#caly_blok {
  display: block;
  font-family: arial, sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
 
}

#naglowek {
  background-color:red;
  text-align:center;
  font-size:1.6em;
  line-height:1.5em;
}

#lewy {
  text-align: left;
  float:left;
  width:30%;
  font-size:1em;
  line-height:5.4em;
  background-color: green;
  flex-basis: 25%;
}

#lewy p {
  border:1px ;
  border-left:none;
  margin:15px 0;
  padding:15px;
}

#srodek {
  float:left;
  width:40%;
  font-size:1.2em;
  line-height:1.5em;
  background-color: aqua;
  flex-basis: 25%;
}

#srodek p {
  margin:15px 0;
  padding:15px;
}

#prawy {
  flex-basis: 25%;
  float:left;
  width:30%;
  font-size:1em;
  line-height:5.4em;
  background-color: pink;
  flex-basis: 25%;
}

#prawy p {
  border:1px ;
  border-right:none;
  margin:15px 0;
  padding:15px;
}

#stopka {
  clear:both;
  background-color:purple;
  text-align:center;
  font-size:1.4em;
  line-height:1.5em;
}


@media (min-width: 992px) {

  .left {
    flex-direction: column;
    flex-basis: 25%;
  }

  .main {
    flex-flow: column;
    flex-basis: 75%;
  }

  .right {
    flex-flow: column;
    flex-basis: 25%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-flow: wrap;
  }

  .left {
    flex-basis: 100%;
    order: 1;
    align-self: flex-end;
    justify-content: flex-start;
    height: 150px;
  }

  .right {

    flex-flow: wrap;
    flex-basis: 30%;
    flex-direction: column;
    flex: auto;
  }

  .main {
    align-self: flex-start;
    flex-basis: 70%;
  }

}

@media (min-width: 100px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-flow: wrap;
  }

  .caly-blok {
    order: 0;
    flex-basis: 100%;

  }


  .lewy {
    order: 1;
    height: 100px;
    flex-basis: 100%;
  }

  .prawy {
    order: 2;
    height: 100px;
    flex-basis: 100%;
  }

}
