.container {
    border: 1px dotted olive;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-content: stretch;
}
.flex-item{
    background-color: orange;
    color: white;
    border: olivedrab 1px solid;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 200px;
    flex-basis: 27%;

}

.flex-item:nth-child(2n-1){
    background-color: red;
    max-height: 150px;
}


