
/* 
p {
    background-color: yellow !important;} */
    p#paragraph {
        background-color: aqua;
    }

    p.paragraph {
        background-color: green;
    }
    p {
        background-color: brown;
    }